doctype html
html
    head
        meta(charset="utf-8")
        title Gulp Starter Pack
        link(rel="stylesheet", type="text/css", href="./css/styles.css")
    body
        h1 Gulp Starter Pack
        p If this page has some color, and you see some Math below, everything is working!
        h2#output
        script(type="text/javascript", src="./js/app.min.js")
